@import '~bootstrap/scss/bootstrap';


main{
    height: calc(100vh - 56px);
}
.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 300px;
}
li{
    margin-bottom: 5px;
}
a{
    text-decoration: none;
}
